/** BASIC */
h1, h2, h3, h4, h5, h6, p, a, body {
	margin: 0;
	padding: 0;
	background: none;
	color: #000000;
	text-align: center;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}

ol, ul {
	list-style-type: none;
	display: inline-block;
}

a {
	transition: color .2s linear;	
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
}

a:hover {
	text-decoration: none;
}

/** header **/

#header {
	height: 20px;
	background-color: #000000;
	margin: 0;
	padding: 0;
}

#menu {
	margin: 0 auto;
	margin-top: 40px;
	width: 990px;
	display: block;
	border-bottom: 1px solid #000000;
}

#menu ul { text-align: right;}

#menu ul li {
	display: inline;
	padding: 0 5px;
}

#menu ul li a {
	padding: 5px 15px;
	color: rgb(57,47,139);
}

#menu a:hover {
	text-transform: none;
	color: #ffffff;
	background-color: rgb(57,47,139);
	border-radius: 50px;
}

#nav { display: none;}


/**CONTAINER*/
#wrapper {
	margin: 0 auto;
	width: 990px;
	padding: 0 10px;
	height: 800px;
}


/** FOOTER */

#footer {
	clear: both;
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	background: #000000;
}

/** responsive code **/

@media only screen and (max-width: 1000px) {
	#wrapper {
		width: 96%;
	}

	#menu { 
		margin-top: 0;
		width: 100%;
		border: 0;
	}

	#menu ul {
		display: none;
		padding: 0;
		margin: 0;
		background: #000000;
		z-index: 999;
		width: 100%;
	}

	#menu ul li {
		display: block;

	}

	#menu ul li a {
		color: #ffffff;
		padding: 0 10px;
		line-height: 2em;
	}

	#menu ul li a:hover {
		text-transform: none;
		color: rgb(57,47,139);
		background: none;
	}

	#nav { 
		display: block; 
		margin-top: 40px;
		border-bottom: 1px solid #000000;
		padding-bottom: 10px;
		text-align: right;
	}

	#nav a {
		margin: 0 auto;
		width: 40px;
		color: rgb(57,47,139);
		padding: 5px 15px;	
	}

	#nav a:hover {
		color: #ffffff;
		background-color: rgb(57,47,139);
		border-radius: 50px;
	}

}





